/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    /* Agrega aquí tus estilos */
  }
  
  /* Estilos para tabletas */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Agrega aquí tus estilos */
  }
  
  /* Estilos para pantallas grandes */
  @media only screen and (min-width: 1025px) {
    /* Agrega aquí tus estilos */
  }
  
  nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #000;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
nav ul li:hover {
	background-color: gray;
}
